<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
	<form action="/saludando" method="post">
		<input type="text" name="txtNombre" id="txtNombre">
		<input type="submit" value="Saludar">
	</form>
</body>
</html>